[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pygraphviz = "*"

[packages]
pillow = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djongo = "*"
mysqlclient = "*"
django = "*"
djoser = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"

[scripts]
dropdata = "rm -rf db.sqlite3 core/migrations api/migrations"
migrate = "bash -c 'python manage.py makemigrations core && python manage.py makemigrations && python manage.py migrate core && python manage.py migrate'"
loaddata = "bash -c 'python manage.py loaddata members.json'"
server = "python manage.py runserver"
admin = "python manage.py createsuperuser"
docker = "docker-compose up"
